.landing {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  min-height: calc(50vh - 49px);

  @include tablet {
    min-height: calc(50vh - 32px);
  }

  &__title {
    line-height: normal;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #e17334;
    font-size: 19.2px;

    @include tablet {
      font-size: 24px;
    }
  }

  &__text {
    font-family: $principal-font;
    font-size: 12.8px;
    color: #114e4e;
    line-height: normal;
    margin-bottom: 18px;
    text-align: center;

    @include tablet {
      font-size: 16px;
      width: 350px;
    }
  }

  &__nav {
    .list {
      padding: 0px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: #e17334 solid 2px;
      height: 73.8px;
      width: 268px;
      margin-bottom: 38.6px;
      border-radius: 4px;

      @include tablet {
        margin-bottom: 20%;
        height: 86px;
        width: 325px;
      }

      @include desktop {
        margin-bottom: 100px;
      }

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $principal-font;
        line-height: normal;
        color: #54585a;
        font-size: 14px;

        @include tablet {
          font-size: 16px;
        }

        &--icon {
          color: #e17334;
          font-size: 22.4px;
          line-height: normal;
          text-align: center;
        }
      }
    }
  }

  &__btn {
    border-radius: 21px;
    background-color: #438792;
    line-height: 1, 5;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: $principal-font;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 69px;
    }

    &--link {
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
  }
}
